
.indx{
  /*  background-color: #FFFDA2;*/
      background-color:  #f3f6f4;

}

.h1indx{
text-align: center;
color: #362415;
text-shadow: 0px 0px 2px #eac784;
font-style: Verdana,italic;

}

.eml{
text-align: center;
color: #5b5b5b;
text-shadow: 0px 0px 2px #eac784;
font-style: Verdana,italic;

}

.b3{
  background-image: ;
}

.dd{
background-image: url("bitcoin-dollars.jpg");
background-size:50%;
height: 200px;
/*
background-repeat:no-repeat;
background-color:  #FFEDED;
  text-align: center;
 */
}

.dd:hover{
    background-image: url("dolr.jpg");
    repeat: no-repeat;
}

.form-all{
    	text-align: center;
}
img:hover{
}

hr{
    width: 30%;
}

body{
  display: block;
  -webkit-margin-before: 1em;
}

.hor-widget{
      text-align: center;
}

.btrd{
  background-color:  #f3f6f4;
}

.btn-center{
  	text-align: center;
}

.chart{
    	text-align: center;
}

.h3i{
  text-align: center;
  font-size: 15px;
}

.h3d{
  text-align: center;
  font-size: 15px;
  color: #a4cff7;
}

.dsc{
  background-color: #393635:
}

.rrr{
  display: flex;
  justify-content: center;
}

.contact-background{
    background-color:  #f3f6f4;
}

.button {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.9s;
  cursor: pointer;
}

.button1 {
border-radius: 12px;
border: 2px solid #281717;
background-color: #bfb7b2;
color: white;
}

.button1:hover {
  background-color: #f3f6f4;
  color: black;
}

.button2 {
border-radius: 12px;
background-color: #FFF323;
color: #9C19E0;
border: 2px solid #4CAF50;
}

.button2:hover {
background-color: #bfb7b2;
color: #06FF00;
}
